.flash_sales {
  padding: 2rem 0;
  /* background-color: var(--very-light-gray); */
  border-top: 1px solid var(--very-light-gray);
}

swiper-container {
  position: relative;
  overflow: visible;
}

swiper-slide {
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .flash_sales {
    padding: 1rem 0;
  }
}

@media (min-width: 1024px) {
  .flash_sales {
    padding: 1rem 0;
  }
}
