button {
    /* background-color: var(--very-light-gray); */
    background-color: var(--white);
    padding: .5rem 1rem;
    border: none;
    /* color: var(--white); */
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: .5rem;
}

