.categories_container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
  /* background-color: rgb(223, 223, 223); */
}

.categories {
  display: flex;
  gap: 1rem calc(7% / 2);
  flex-wrap: wrap;
  justify-content: left;
}

@media (min-width: 768px) {
  .categories_container {
    padding: 1rem var(--tablet-padding);
  }

  .categories {
    gap: 1rem calc(7% / 4);
  }
}

@media (min-width: 1024px) {
  .categories_container {
    padding: 1rem var(--desktop-padding);
  }
  .categories {
    gap: 1rem calc(7% / 6);
  }
}
