.lightbox_container {
  padding: 1rem;
}

.lightbox {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.current_image {
  width: 100%;
  border: 1px solid var(--very-light-gray);
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  display: grid;
  place-content: center;
}

.current_image img {
  /* object-fit: cover; */
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.5rem;
}

.thumbnails {
  display: flex;
  gap: 1rem calc(10% / 3);
}

.thumbnail {
  width: 22.5%;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 2px solid var(--very-light-gray);
}

@media (min-width: 768px) {
  .lightbox_container {
    padding: 0 var(--tablet-padding);
  }

  .lightbox {
    flex-direction: row-reverse;
    gap: 1rem;
    
  }

  .current_image {
    width: 100%;
    object-fit: fill;
  }

  .thumbnails {
    flex-direction: column;
    width: 22.5%;
    align-items: center;
    justify-content: center;
  }
  .thumbnail {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .lightbox_container {
    width: 50%;
    padding: 0 0 0 var(--desktop-padding);
  }

  .lightbox {
    max-width: 100%;
    position: sticky;
    top: 0rem;
  }
}
