.lightbox {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.lightbox_loading .current_image {
  background-color: var(--very-light-gray);
  animation: lazy-animation 2s ease-in-out infinite;
}

.lightbox_loading .thumbnail {
  background-color: var(--very-light-gray);
  animation: lazy-animation 2s ease-in-out infinite;
}

@keyframes lazy-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.current_image {
  width: 100%;
  border: 1px solid var(--very-light-gray);
  background-color: var(--very-light-gray);
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  display: grid;
  place-content: center;
}

.current_image img {
  width: 100%;

  aspect-ratio: 1/1;
  object-fit: contain;
}

.thumbnails {
  display: flex;
  gap: 1rem calc(10% / 3);
}

.thumbnail {
  width: 22.5%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
  object-fit: contain;
  background-color: var(--very-light-gray);
}

@media (min-width: 768px) {
  .lightbox {
    flex-direction: row-reverse;
    gap: 1rem;
  }

  .current_image {
    width: 100%;
    /* object-fit: fill; */
  }

  .thumbnails {
    flex-direction: column;
    width: 22.5%;
    align-items: center;
    justify-content: center;
  }
  .thumbnail {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .lightbox_container {
    width: 50%;
  }

  .lightbox {
    max-width: 100%;
    position: sticky;
    top: 5rem;
  }
}
