.cart {
    padding: 2rem var(--mobile-padding);
}

.cart_items {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

@media (min-width: 768px) {
    .cart {
        padding: 2rem var(--tablet-padding);
    }
}

@media (min-width: 1024px) {
    .cart {
        padding: 2rem var(--desktop-padding);
    }

    .cart_items {
        width: 60%;
    }
}


