

.cart_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cart_items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart_summary {
  border: 1px solid var(--very-light-gray);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  /* gap: 1rem; */
}

.sub_total,
.total,
.shipping,
.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--very-light-gray);
  padding: 0.5rem 0;
}

.sub_total,
.overview {
  border: none;
}

.total_price {
    color: var(--secondary-color);
}

.cart_checkout_desktop {
    display: none;
}

.cart_checkout {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: var(--white);
  padding: 0 0 2rem;
  /* border: 1px solid var(--very-light-gray); */
  border-radius: 0.5rem;
}

@media (min-width: 1024px) {

  .cart_container {
    flex-direction: row;
    gap: 2rem;
    align-items: start ;
  }

  .cart_items {
    width: 60%;
  }

  .cart_summary {
    width: 40%;
    position: sticky;
    top: 2rem;
  }

  .cart_checkout_desktop {
    display: block;
  }
  .cart_checkout {
    display: none;
  }
}
