.product_card {
  width: 47%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product_card.carousel {
  width: 100%;
}

.product_card_top {
  aspect-ratio: 1/1;
  overflow: hidden;
  display: grid;
  place-content: center;
  background-color: var(--very-light-gray);
  border-radius: 0.3rem;
}

@keyframes lazy-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.product_info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.price {
  margin-top: 0.5rem;
  height: 1rem;
  background-color: var(--very-light-gray);
  /* animation: lazy-animation 2s ease-in-out infinite; */
  border-radius: 0.3rem;
}

.name {
  height: 2rem;
  background-color: var(--very-light-gray);
  /* animation: lazy-animation 2s ease-in-out infinite; */
  border-radius: 0.3rem;
}

@media (min-width: 768px) {
  .product_card {
    max-width: calc(93% / 3);
  }
  .product_card.carousel {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .product_card {
    max-width: calc(90% / 6);
  }

  .product_card.carousel {
    max-width: 100%;
  }
}
