.details {
  padding: 0 var(--mobile-padding);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product_info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.rating_price {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.price {
  color: var(--secondary-color);
}

.available {
  color: var(--green);
  border-left: 1px solid var(--black);
  padding-left: 1rem;
}

.purchase_info {
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: center;
}

.quantity_container {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.quantity_container input {
  border: 1px solid var(--secondary-color);
  height: 2rem;
  width: 4rem;
}

.decrease,
.increase {
  width: 2rem;
  height: 2rem;
  background-color: var(--secondary-color);
  display: grid;
  place-content: center;
  border: 1px solid var(--secondary-color);
}

@media (min-width: 768px) {
    .details {
        padding: 2rem var(--tablet-padding);
    }

    .details h1 {

    }
}

@media (min-width: 1024px) {
    .details {
        padding: 0rem var(--desktop-padding) 0 0;
        width: 50%;
    }
}