.product_card {
  width: 47%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
transition: 2s;
}

/* .product_card:hover .product_card_top {
} */

.product_card_top:hover .product_image img {
  background-color: var(--light-gray);

  width: 110%;
}

.product_card.carousel {
  width: 100%;
}
.product_card_top {
  aspect-ratio: 1/1;
  overflow: hidden;
  display: grid;
  place-content: center;
  border-radius: 0.3rem;
  width: 100%;
  height: auto;
  background-color: var(--very-light-gray);
  position: relative;
}

.product_image img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
  transition: .5s;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 0.9em;
  font-weight: bold;
}

.discount {
  position: absolute;
  top: .3rem;
  right: .3rem;
  /* width: 2.5rem;
  height: 2.5rem; */
  border-radius: .3rem;
  padding:.2rem .5rem;
  background-color: var(--secondary-light);
  color: var(--white);
  font-size: var(--small-text);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .add_to_cart {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  height: 2rem;
  border-radius: .5rem;
} */

.product_info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
}

.product_price_and_rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.price {
  color: var(--secondary-color);
  font-size: 0.9em;
}

.original_price {
  color: var(--light-gray);
  text-decoration: line-through;
  font-size: var(--small-text);
}

@media (min-width: 768px) {
  .product_card {
    max-width: calc(93% / 3);
  }
  .product_card.carousel {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .product_card {
    max-width: calc(90% / 5);
  }

  .product_card.carousel {
    max-width: 100%;
  }
}
