.product_card {
  width: 47%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product_card.carousel {
  width: 100%;
}
.product_card_top {
  aspect-ratio: 1/1;
  overflow: hidden;
  display: grid;
  place-content: center;
  border-radius: 0.3rem;
  width: 100%;
}

.product_image img {
  width: 100%;
  height: 100%;
}

.product_info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
}

.product_price_and_rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.price {
  color: var(--secondary-color);
}

@media (min-width: 768px) {
  .product_card {
    max-width: calc(93% / 3);
  }
  .product_card.carousel {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .product_card {
    max-width: calc(90% / 6);
  }

  .product_card.carousel {
    max-width: 100%;
  }
}
