.icon.small {
    font-size: 1em;
}

.icon.medium {
    font-size: 1.2em;
}

.icon.large {
    font-size: 1.5em;
}

.icon {
    color: #707070;
}

/* .icon:hover {
color: var(--secondary-color);
} */

.icon.white {
    color: var(--white);
}

.icon.primary {
    color: var(--secondary-color);
}

.rotate {
    animation: rotate 1s infinite linear ;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}