

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header p {
  color: var(--secondary-color);
  cursor: pointer;
}

.products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 2rem 0.5rem;
}


.no_products {
  text-align: center;
}

  .fetch_more_products_button {
    margin: 3rem auto 0;
}

@media (min-width: 768px) {

  .products_container {
    gap: 2rem calc(7% / 2);
  }

    .fetch_more_products_button {
    width: 50%;
    margin: 3rem auto 0;
}
}

@media (min-width: 1024px) {


  .products_container {
    gap: 2rem calc(10% / 5);
  }

  .fetch_more_products_button {
    width: 40%;
    margin: 3rem auto 0;
}

}
