.cart_icon {
  position: relative;
}

.cart_volume {
  position: absolute;
  top: -1rem;
  right: -0.5rem;
  background-color: var(--primary-color);
  width: 1.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 0.6em;
  color: var(--white);
  display: grid;
  place-content: center;
}
