.purchase_info {
  border-top: 1px solid var(--black);
  padding: 2rem 0;
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.quantity_container {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  overflow: hidden;
}

.quantity_container p {
  height: 2rem;
  width: 4rem;
  text-align: center;
  font-size: 1.2em;
}

.decrease,
.increase {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--light-gray);
  display: grid;
  place-content: center;
  cursor: pointer;
  /* border: 1px solid var(--black); */
}

.decrease:hover , .increase:hover {
  background-color: var(--secondary-color);
}

.decrease.deactivated {
  display: none;
}