.search_input {
    position: relative;
}

.input {
    padding:.7rem 1rem .7rem 2.6rem;
    border-radius: .5rem;
    width: 100%;
    background-color: var(--very-light-gray);
    border: none;
}

.input::placeholder {
    color: var(--text-black);
}

.magnifying_glass {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    
}