.large_header {
  position: relative;
  height: 16rem;
  /* background-color: var(--blue); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_image {
  position: absolute; 
  right: 0;
  height: 100%;
  display: flex;
  justify-content: right;
  transform: translateX(10%);
}
.header_image img {
  height: 100%;
}

.header_details {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 1;
  gap: 1rem;
}

.header_details p,
.header_details h1 {
  color: var(--white);
}

.large_header h1 {
  /* margin-bottom: 2rem; */
  font-size: 2em;
}

.title {
  font-size: var(--small-text);
}

.cta {
  cursor: pointer;
}

.cta p {
  border-bottom: 2px solid;
}

@media (min-width: 768px) {
  .large_header {
    height: 22rem;
    padding: 0rem var(--tablet-padding);
    align-items: center;
  }

  .large_header h1 {
    font-size: 2.7rem;
  }
}

@media (min-width: 1024px) {
  .large_header {
    aspect-ratio: 6/2;
    padding: 0 var(--desktop-padding);
  }

  .large_header h1 {
    font-size: 3.2rem;
  }

  .header_details {
    width: 70%;
    height: 60%;
    min-height: 16rem;
  }

  .header_image {
    height: 150%;
  }
}
