.featured_product {
  height: 16rem;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* overflow: hidden; */
  margin: 0 var(--mobile-padding);
}

.featured_image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: right;
}
.featured_image img {
  height: 100%;
}

.featured_product .featured_details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  justify-content: space-between;
  padding: 0 0 0 1rem;
  gap: 1rem;
  z-index: 1;
}

.featured_product h2 {
  font-size: 1.7em;
  line-height: 1;
}

.featured_details p,
.featured_details h2 {
  color: var(--white);
}
.title {
  font-size: var(--small-text);
  margin: 0;
}

.cta {
  cursor: pointer;
}

.cta p {
  border-bottom: 2px solid;
}

@media (min-width: 768px) {
  .featured_product {
    height: 22rem;
 
    align-items: center;
    margin: 0 var(--tablet-padding);
  }

.featured_product .featured_details {
  width: 50%;
  height: 70%;
  overflow: hidden;
}

.featured_product h2 {
  font-size: 2.5rem;
}
}



@media (min-width: 1024px) {
  .featured_product {
    aspect-ratio: 6/2;
    margin: 0 5rem;
    padding: 0 3rem;
  }

  .featured_product h2{
    font-size: 3rem;
  }
  .featured_details {
    width: 50%;
    height: 50%;
    min-height: 14rem;
    /* gap: 2rem; */
  }

  .featured_image {
    height: 150%;
  }
}
