@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-black);
}

body {
  overflow-x: hidden;
}

p {
  line-height: 1.6;
  font-size: 15px;
  color: #666;
}

.App {
  background-color: var(--white);
  max-width: 1440px;
  margin: auto;
}

.page {
  padding: 9rem var(--mobile-padding);
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  height: fit-content;
  min-height: 90vh;
}

h2 {
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2em;
  }

  .page {
    gap: 2rem 0;
    padding: 10rem var(--tablet-padding) 6rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.5em;
  }

  .page {
    gap: 2rem 0;
    padding: 6rem var(--desktop-padding) 6rem;
  }
}
