:root {
  --primary-color: #db4444;
  --secondary-color: #080808;
  --black: #000000;
  --text-black: #171717;
  --text-gray: #666666;
  --primary-light: #eb7e7ee5;
  --very-light-gray: #ebebeb;
  --light-gray: #b9b8b8;
  --green: #40bd6a;
--blue:#1c1d54;
  --gold: #ffad33;
  --white: #ffffff;
  --small-text: 0.8em;
  --box-shadow: 2px 2px 5px #00000088;
  --mobile-padding: 1rem;
  --tablet-padding: 3rem;
  --desktop-padding: 5rem;
}
